<% if a.seen %>
		<div class="message-thumbnail">
			<div class="card-body">
					<div class="col-md-10">
						<h4 class="card-title">
							<%= link_to show_path(a.id), class: "card-title" do %>
								<%= a.title %>
								<% end %>
							</h4>
							<h6 class="card-subtitle mb-2 text-muted">(<%= a.created_at.to_formatted_s(:long) %>)</h6>
							<h6 class="card-subtitle mb-2 text-muted">From: <%= a.user.name %> (<%= a.user.email %>)</h6>
						<p class="card-text">
							<%= truncate(a.body) %>
						</p>
					</div>
		  </div>
		</div>
	<% else %>
		<div class="message-thumbnail2">
			<div class="card-body">
					<div class="col-md-10">
						<h4 class="card-title">
							<%= link_to show_path(a.id), class: "card-title" do %>
								<%= a.title %>
							<% end %>
							</h4>
						<h6 class="card-subtitle mb-2 text-muted">(<%= a.created_at %>)</h6>
						<h6 class="card-subtitle mb-2 text-muted">From: <%= a.user.name %> (<%= a.user.email %>)</h6>
						<p class="card-text">
							<%= truncate(a.body) %>
						</p>
					</div>
			</div>
		</div>
	<% end %>
