<%= render partial: 'flash_message', locals: {messages: flash} %>

<div class="message-thumbnail" highlight>
	<div class="card-body">
			<div class="col-md-10">
				<h4 class="card-title">
					<%= link_to show2_path(@message.id), class: "card-title" do %>
						<%= @message.title %>
					<% end %>
					</h4>
				<h6 class="card-subtitle mb-2 text-muted">(<%= @message.created_at.to_formatted_s(:long) %>)</h6>
				<h6 class="card-subtitle mb-2 text-muted">From:  <%= link_to user_path(@message.user.id), class: "card-title" do %>
					<%= @message.user.name %>
				<% end %> (<%= @message.user.email %>)</h6>
				<p >
					<%= @message.body %>
				</p>
				<% if @check %>
					<h6 class="card-subtitle mb-2 text-muted">(Seen at: <%= @message.seen_at.to_formatted_s(:long) %>)</h6>
				<% else %>
				  <h6 class="card-subtitle mb-2 text-muted">(Seen at: not seen)</h6>
				<% end %>
				<%= link_to sentmessage_path, class: 'btn btn-secondary' do %>
					Back
				<% end %>
			</div>
		</div>
</div>
