<%= render partial: 'flash_message', locals: {messages: flash} %>
<h1>All users</h1>
<%= link_to friendlist_path do %>	Your friends (<%= @cur_user.friendships.count %> friends)	<% end %>
--||--   <%= link_to requestlist_path do %>	Friend request	(<%= @cur_user.accepttingfriends.count %> requests) <% end %>
--||--   <%= link_to users_path do %> All users (<%= @users.count %> users) <% end %>


  <% @users.reverse_each do |user| %>
  	<%= render partial: "thumbnail", locals: {a: user}%>
<% end %>
